a {
    text-decoration: none;
    color: #000;
}
a:hover{
    color: black;
}

.breadcrumbs{
    margin: 10px 0px 10px 5px;
    font-size: 14px;
}
.bc-item{
    text-decoration: none;
    color: #8a8a8a;
    padding-right: 15px;
}
.symbol-more{
    padding-left: 5px;
}
.bc-item:hover{
    color: #f7a400;
}

.category-title{
    font-size: 32px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.categories{
    width: 325px;
}
.categories-caption{
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    background-color: rgba(238, 238, 238, 0.9);
}
.root{
    padding: 10px 20px 10px 0px;
    border: 0.5px solid rgba(238, 238, 238, 0.9);
}
.root a{
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
    padding: 2px 0px;
}
.root a:hover, .root a.active{
    border-radius: 2px;
    background-color: #fff780;
}
.categories-item a.root_node{
    font-size: 16px;
}
.categories-item{
    padding-left: 15px;
}
.categories-item a::before{
    content: url(../img/go_right.svg);
    width: 1em;
    height: 1em;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    padding: 0.2em;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: center;
}
.categories-item.opened > a{
    font-weight: bold;
}
.products-greed{
    display: flex;
    flex-flow: row wrap;
}
.product{
    width: 330px;
    height: auto;
}
.product-wrapper:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.product-item{
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}
.product-description{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15px;
}
.product-top{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.product-price{
    align-self: center;
    font-size: 18px;
    padding-left: 10px;
    color: red;
}
.product-btn_cart{
    padding: 4.5px 10px;
    background-color: #f7a400;
    border-radius: 7.5px;
    cursor: pointer;
}
.product-title, .product-brand{
    font-size: 14px;
    margin-top: 5px;
}
.product-brand{
    font-weight: bold;
}

.filters{
    display: flex;
    flex-flow: row wrap;
    padding-left: 20px;
    margin-bottom: 15px;
}
.dropdown{
    position: relative;
}
.dropdown__head{
    border: 1px solid black;
    border-radius: 7.5px;
    padding: 5px 10px;
    cursor: pointer;
}
.dropdown__head:hover{
    box-shadow: 0 6px 12px rgb(0 0 0 / 12%);
}
.dropdown__body{
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    width: 320px;
    z-index: 1;
    border-top: 1px;
    background-color: white;
    box-shadow: 0 6px 12px rgb(0 0 0 / 12%);
    border-top: 1px solid black;
}
.dropdown__show .dropdown__body{
    display: block;
}
.dropdown__options{
    margin: 10px 0px;
    padding: 0px 10px;
    max-height: 240px;
    min-height: 0;
    overflow-x: hidden;
}
.filter-checkbox-wrap{
    display: flex;
    padding: 0px 10px;
}
.filter-checkbox{
    align-self: center;
    cursor: pointer;
}
.filter-checkbox-label{
    flex: 1 1 auto;
    padding: 2.5px 10px;
    cursor: pointer;
}
.filter-checkbox-label:hover, .filter-checkbox:hover + .filter-checkbox-label{
    color: rgba(0,0,0,.55);
}
.dropdown__submit{
    margin: 7.5px 20px;
}
.filter-button-submit{
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    cursor: pointer;
}
.filter-button-submit:hover{
    color: #fff780;
}
.dropdown__search{
    padding: 0px 20px;
    margin: 10px 0px;
}
.filter-search-wrap{
    display: flex;
    flex-flow: row nowrap;
    background-color: rgba(238, 238, 238, 0.9);
    border-radius: 8.5px;
}
.button-search-confirm, .button-search-clear{
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5.5px;
    cursor: pointer;
}
.button-search-confirm svg, .button-search-clear svg{
    align-self: center;
}
.filter-search{
    flex: 1 1 auto;
    font-size: 14px;
    background-color: inherit;
    padding: 3px;
    border: none;
    outline: none;
}

.hidden{
    display: none;
}
