{% extends 'shop/catalog.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}
{{ category.title }} :: {{ block.super }}
{% endblock %}

{% block breadcrumbs %}

<a class="bc-item" href="{% url 'catalog' %}">
    Каталог
    <span class="symbol-more">></span>
</a>
{% for ancestor in ancestors_tree %}
<a class="bc-item" href="{{ ancestor.get_absolute_url }}">
    {{ ancestor.title }}
    <span class="symbol-more">></span>
</a>
{% endfor %}
{{ category.title }}

{% endblock%}

{% block category_title %}
{{ category.title }}
{% endblock %}

{% block root %}
<div class="root">
    {% recursetree categories %}

    {% if node in ancestors_tree %}
    <div class="categories-item opened">
        {% if node.pk == category.pk %}
        {% if node.is_root_node %}
        <a class="root_node active" href="{{ node.get_absolute_url }}">{{ node.title }}</a>
        {% else %}
        <a class="active" href="{{ node.get_absolute_url }}">{{ node.title }}</a>
        {% endif %}
        {% else %}
        {% if node.is_root_node %}
        <a class="root_node" href="{{ node.get_absolute_url }}">{{ node.title }}</a>
        {% else %}
        <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
        {% endif %}
        {% endif %}

        {% if not node.is_leaf_node %}
        <div class="children">
            {{ children }}
        </div>
        {% endif %}
    </div>
    {% else %}
    <div class="categories-item">
        {% if node.is_root_node %}
        <a class="root_node" href="{{ node.get_absolute_url }}">{{ node.title }}</a>
        {% else %}
        <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
        {% endif %}
    </div>
    {% endif %}
    {% endrecursetree %}

</div>
{% endblock %}