{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'img/superman-logo.png' %}" width="95" alt="superman-logo">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog' %}">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'brands' %}">Бренды</a>
                </li>
                <li class="nav-item nav-search">
                    <div class="search-panel">
                        <form method="get">
                            <input type="text" name="s" placeholder="Поиск...">
                            <button type="submit">
                                <div>
                                    <img src="{% static 'img/search.png' %}" alt="search" width="100%" height="100%">
                                </div>
                            </button>
                        </form>

                    </div>

                </li>
                <li class="nav-item nav-login">
                    <div class="nav-login-wrapper">
                        <img src="{% static 'img/login.png' %}" alt="cart" width="100%" height="100%">
                    </div>
                </li>
                <li class="nav-item" id="nav-cart">
                    <div class="nav-cart-wrapper">
                        <img src="{% static 'img/cart.png' %}" alt="cart" width="100%" height="100%">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>